/*@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');*/

right_panel {
  /* Appearance */
  background-color: blue;
  padding: 10px 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.55;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#right_panel:hover {
  /* Fade in while hovering */
  opacity: 0.75;
  transition-delay: 0.5;
}

.custom-popup {
  font-family: Arial;
  color: red;
}
